# Ignore __pycache__ files
__pycache__
*/__pycache__

# Ignore image files
data/images/*
data/images/fits/*
data/images/sav/*

# Ignore tracing results
data/tracing_results/*

# Ignore timeseries results
timeseries_results/

# Ignore huge fits file 
data/images/fits/nb.6563.ser_171115.bis.wid.23Apr2017.target2.all.fits

# Ignore notes file
notes_for_next_meeting
